*{
     margin: 0; 
     padding: 0; 
    box-sizing: border-box;
}
.bigone{
    box-shadow: 0px 0px 5px #3e3e3e;
    width: 300px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 35%;    
    flex-direction: column;

}
.midbtns{
    display: flex;
    padding: 5px;
    width: 101%;

    align-items: center;
    /* font-weight: bold; */
}
span{
    border: 1px solid black;
    padding: 8px;
}
.midbtns button {
    font-weight: bold;
    height: 35px;
}
button {
    font-weight: bold;
    padding: 5px;
}